@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');


:root {
	--primary-color: #809671;
	--background-color: #f9f5f0;
	--dark-color: #151515;
}

html {
	font-size: 62.5%;
	font-family: 'Poppins', sans-serif;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* ********************************** */
/*             UTILIDADES             */
/* ********************************** */
.container {
	max-width: 120rem;
	margin: 0 auto;
}

.heading-1 {
	text-align: center;
	font-weight: 500;
	font-size: 3rem;
}

/* ********************************** */
/*               HEADER               */
/* ********************************** */
.container-hero {
	background-color: var(--background-color);
}

.hero {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 2rem 0;
}

.customer-support {
	display: flex;
	align-items: center;
	gap: 2rem;
}

.customer-support i {
	font-size: 3.3rem;
}

.content-customer-support {
	display: flex;
	flex-direction: column;
}

.container-logo {
	display: flex;
	align-items: center;
	gap: 0.5rem;
}

.container-logo i {
	font-size: 3rem;
}

.container-logo h1 a {
	text-decoration: none;
	color: #000;
	font-size: 3rem;
	text-transform: uppercase;
	letter-spacing: -1px;
}


/* ************* NAVBAR ************* */
.container-navbar {
	background-color: var(--primary-color);
}

.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1rem 0;
}

.navbar .fa-bars {
	display: none;
}

.menu {
	display: flex;
	gap: 2rem;
}

.menu li {
	list-style: none;
}

.menu a {
	text-decoration: none;
	font-size: 1.3rem;
	color: var(--dark-color);
	font-weight: 600;
	text-transform: uppercase;
	position: relative;
}

.menu a::after {
	content: '';
	width: 1.5rem;
	height: 1px;
	background-color: #fff;
	position: absolute;
	bottom: -3px;
	left: 50%;
	transform: translate(-50%, 50%);
	opacity: 0;
	transition: all 0.3s ease;
}

.menu a:hover::after {
	opacity: 1;
}

.menu a:hover {
	color: #fff;
}




.banner {
	background-image: linear-gradient(100deg, #000000, #00000020),
		/* url('img/banner.jpg'); */
		url('imagenes/pexels-cottonbro-4488660.jpg');
	height: 70rem;
	background-size: cover;
	background-position: center;
    height: 35rem; 
}

.content-banner {
	max-width: 90rem;
	margin: 0 auto;
	padding: 25rem 0;
}

.content-banner p {
	color: var(--primary-color);
	font-size: 1.8rem;
	margin-bottom: 1rem;
	font-weight: 500;
}

.content-banner h2 {
	color: #fff;
	font-size: 4rem;
	font-weight: 500;
	line-height: 1.2;
}

.content-banner a {
	margin-top: 2rem;
	text-decoration: none;
	color: #fff;
	background-color: var(--primary-color);
	display: inline-block;
	padding: 1rem 3rem;
	text-transform: uppercase;
	border-radius: 3rem;
	font-size: 15px;
}




.content-banner {
    max-width: 50rem;
    margin: 0 auto;
    padding: 25rem 0;
}
 



.circle-container {
    width: 20rem;
    height: 20rem;
    background-color: white;
    border-radius: 50%;
    margin: 0 auto 20rem;
    overflow: hidden;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);

  }
  
  .profile-picture {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }


  .datoss {
    text-align: center;
  }

  .datosss {
    text-align: left;
  }

.redespersona {
    margin: 10rem;
}

  .logo-container {
    display: flex; /* Utilizamos flexbox */
    align-items: center; /* Centramos verticalmente los elementos */
  }
  
  .logo-container img {
    width: 50px; /* Ajusta el ancho del logo según sea necesario */
    margin-right: 10px; /* Ajusta el margen entre el logo y la palabra */
  }



  .insta {
    display: flex;
	flex-direction: column;
  }



















  .foot {
	background-color: #333; /* Color de fondo */
	color: #809671; /* Color del texto */
	text-align: center; /* Alineación del texto */
	padding: 2rem 0; /* Espaciado interno */
	font-size: 2rem;
}







/*.foot{
    grid-template-columns: 1fr;
}

.foot {
    grid-template-columns: repeat(2, 1fr);
}